div{
    display: inline-block;
    position: relative;
    left: 200px;
  
   
}

#Fimg , #Secimg,#Limg{
    width: 300px;
    padding: 20px;
  
  
}

button{
    padding: 25px;
    width: 200px;
    position: relative;
    left:250px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
   

    
}
button:hover{
    color: white;
    background-color: black;
}

p{
    width: 50%;
    position: relative;
    left:200px;
    font-size: 25px;
    margin: 30px;
}

h1{
    font-size:30px;
    font-weight: bold;
}

header{
    text-align: center;
    height: 150px;
    border: black 2px solid;
     padding-top: 30px;
     position: inherit;
     display: sticky;
}
body{
    /* background-image: url('http://pavbca.com/walldb/original/a/c/a/786014.jpg'); */
}