div{
    display: inline-block;
    position: relative;
    left: 200px;
   
}

#Fimg , #Secimg,#Limg{
    width: 300px;
    padding: 20px;
    
  
}

button{
    padding: 30px;
    width: 200px;
    position: relative;
    left:200px;
    font-size: 25;
    background-color: blueviolet;
}

p{
    width: 50%;
    position: relative;
    left:200px;
    font-size: 25px;
    margin: 30px;
}